:root {
    --taupe: #BEBCBB; 
    --nightblue: #161C3B;
    --oceanblue: #00439C; 
}

.bg-debug {
    background-color: lightblue;
}

.my-container {
    max-width: 90%;
    margin: 0 auto;
}

.small-font {
    font-size: 0.8rem;
}

.tiny-font {
    font-size: 0.7rem;
}

a {
    color: var(--bs-white);    
}

/* Style logobar */

.bg-black {
    background-color: var(--bs-black);
}

#logo-bar {
    height: 30px;
}

.logo-img {
  width: 70px;
} 

.logo-img img {
    width: 100%;
    max-width: 100%;
} 

/* Style nav */
.navbar {
    height: 55px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navbar i {
    color: var(--bs-gray-500);
    border: 1px solid var(--bs-gray-300);
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar-toggler:focus {
    box-shadow: none;
} 

.nav-link{
    color: var(--bs-black);
    font-size: 0.8rem;
    font-weight: 600;
}

.fa-solid.fa-angle-down, .fa-solid.fa-magnifying-glass {
    border-style: none;
}

.fa-solid.fa-angle-down {
    font-size: 0.6rem;
    color: var(--bs-gray-500);
}


/* Style hero */
.hero {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    padding-top: 10rem;
    line-height: 1.2;
}   

.hero img {
    width: 70%;
}

.hero2 {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

/* Style cards */
.my-rounded {
    border-radius: 15px;
    cursor: pointer;
}

.first-card {
    border: 2px solid var(--bs-blue);
    padding: 2px; 
}

.cards img:hover {
    border: 2px solid var(--bs-blue);
    padding: 2px;
}

/* Style PS5 */
#ps5 .text-primary {
    font-size: 0.7rem;
}

#ps5 p, #ps4 p, #special-feature p {
    line-height: 1.2;
}

.thumbs {
    padding-bottom: 2rem;
}

.caption {
    font-size: 0.8rem;
    padding-top: 1rem;
    display: none;
    text-align: center;
}

.thumb-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    border-bottom: 2px solid var(--bs-blue);
    padding: 10px 0px;
}
/* 
.thumbs .thumb:hover .active {
    border-bottom-color:;
} */

/* Style special features */
.special-ft img {
    width: 50%;
}

.bg-taupe {
    background-color: var(--taupe);
}

.hidden-img {
    display: none;
}

.bg-nightblue {
    background-color: var(--nightblue);
}

/* Style footer */
.bg-blue {
    background-color: var(--oceanblue);
}

.region-i {
    width: 15px;
    height: 15px;
}

.region-i img {
    width: 100%;
    max-width: 100%;
} 

footer ul {
    list-style: none;
    padding-left: 1.5rem;
}

footer ul li {
    line-height: 2;
    cursor: pointer;
}

.logo-sie {
    width: 100px;
    height: 65px;
}

/* MEDIAQUERY */
@media screen and (min-width: 576px) {
    .social-img {
        width: 120px;
        height: 120px;
    }
}

@media screen and (min-width: 768px) {
    .caption {
        display: block;
    }

    .thumbs img {
        width: 60%;
    }

    .hidden-img {
        display: block;
    }

    .liste-link {
        display: flex;
        justify-content: flex-start;
    }  
}

@media screen and (min-width: 992px) {
    .liste-link {
        justify-content: flex-end;
    }

    .copyright {
        max-width: 50%;
    }
}